.img {
  width: 100%;
  aspect-ratio: 215/322;
  transition: transform 0.5s;
}

.img:hover {
  transform: scale(1.02);
}

.card {
  width: 215px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slick-prev,
.slick-prev:hover,
.slick-next,
.slick-next:hover {
  background-color: darkblue;
}
